.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(6, 49, 89);
    width: 300px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.project_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
}