.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 3rem;
    font-weight: 550;

}

.nav a {
    text-decoration: none;
    color: antiquewhite;
}

.profile_container {
    width: 1000px;
    height: 700px;
    background-image: url('https://github.com/paolobillordo/imagenes/blob/main/papelito.png?raw=true');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back:hover a {
    color: rgb(154, 101, 201);
}

.logout:hover a {
    color: rgb(167, 54, 54);
}

.edit:hover a {
    color: rgb(46, 98, 147);
}

.name {
    color: blueviolet;
    font-size: 2rem;
    transform: rotate(-5deg);
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;

}

.img {
    width: 200px;
    height: 300px;
    background-color: aqua;
    background-size: cover;
    transform: rotate(-5deg);
    margin-right: 20px;
    margin-top: 70px;
}