.container {
    width: calc(100% - 350px);
    height: calc(90vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_desc {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description {
    width: 500px;
    height: 80px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    color: rgb(77, 152, 223);}

.tasks_container {
    display: flex;
    justify-content: space-around;

}

.column_task {
    width: 280px;
    border-top: 5px solid antiquewhite;
    border-right: 5px solid antiquewhite;
    border-radius: 10px;
    overflow-y: auto;
    height: calc(90vh - 300px);

}

.column_task::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.to_do {
    color: rgb(217, 213, 90);
}

.in_curse {
    color: rgb(92, 199, 88);
}

.finish {
    color: rgb(154, 101, 201);
}

.btn_new_task {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    width: 100px;
}

.btn_new_task:hover {
    color: rgb(92, 199, 88);
    cursor: pointer;
}

.btn_delete_project {
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    width: 150px;
}

.btn_delete_project:hover {
    color: rgb(167, 54, 54);
    cursor: pointer;
}