:root {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('https://github.com/paolobillordo/imagenes/blob/main/green-board.jpg?raw=true');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  margin: 0;
}